<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Post</title>
</head>
<body>
<h2>Edit Post</h2>
<form th:action="@{|/posts/edit/${id}|}" th:method="post" th:object="${postToEdit}">

    <input type="text" th:field="*{title}" placeholder="title">
    <input type="text" th:field="*{body}" placeholder="body">
    <input type="submit">

</form>
<h2>Delete Post</h2>
<form th:action="@{|/posts/delete/${id}|}" method="post" name="button">
    <div class="form-group">
        <button type="submit" class="btn btn-danger">Delete</button>
    </div>
</form>
</body>
</html>
