<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Guess a Number!</h1>
<div>
<form action="/roll-dice/1" method="get">
    <label for="num1">
        <button name="num1" id="num1" type="submit" value="Num1">1</button>
    </label>
</form>
<form action="/roll-dice/2" method="get">
    <label for="num2">
        <button name="num2" id="num2" type="submit" value="Num2">2</button>
    </label>
</form>
<form action="/roll-dice/3" method="get">
    <label for="num3">
        <button name="num3" id="num3" type="submit" value="Num3">3</button>
    </label>
</form>
<form action="/roll-dice/4" method="get">
    <label for="num4">
        <button name="num4" id="num4" type="submit" value="Num4">4</button>
    </label>
</form>
<form action="/roll-dice/5" method="get">
    <label for="num5">
        <button name="num5" id="num5" type="submit" value="Num5">5</button>
    </label>
</form>
<form action="/roll-dice/6" method="get">
    <label for="num6">
        <button name="num6" id="num6" type="submit" value="Num6">6</button>
    </label>
</form>
</div>
</body>
</html>
